* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background: #fff;
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 0 15px;
}

.titel{
    display: flex;
    align-items: center;
}

header{
    height: 20x;
    width: 100%;
    background:black;
}
