* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-size: 62.5%
}

body{
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background: #fff;
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 0 15px;
}

.doos9 {
    width: 45rem;
    height: 30rem;
    padding: 5rem;
    border-radius: 20px;
    background-color: green;
    display: flex;
    align-items: center;
    flex-grow: 1;

}


header{
    height: 20x;
    width: 100%;
    background:black;
}
